# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env
